/* Remove default styles */
a:hover {
    text-decoration: none;
}

/* Colors */
.bg-primary {
    background-color: #f8fdff;
}

.bg-second {
    background-color: #283772;
}

.bg-thrid {
    background-color: #f1be1d;
}

.txt-primary {
    color: #283772;
}

.txt-user {
    color: #cfcfcf;
}

/* Positions */

.header-position {
    position: sticky !important;
}

.page-position {
    position: sticky !important;
    margin-top: 80px;
}

/* Inputs */

.form-control::-webkit-input-placeholder {
    color: #dddddd !important;
}

.ext-placeholder {
    color: #dddddd;
}

.btn-outline-danger {
    border: 1px solid #d9534f !important;
}

.btn-success {
    border: 1px solid #5cb85c !important;
}

.btn-outline-success {
    border: 1px solid #5cb85c !important;
}

.btn-outline-warning {
    border: 1px solid #ffc107 !important;
}

.btn-outline-info {
    border: 1px solid #283772 !important;
    color: #283772;
}

.btn-warning {
    border: 1px solid #ffc107 !important;
}

.btn-secondary {
    border: 1px solid #dddddd !important;
    background: #dddddd;
    color: #292b2c !important;
}

.btn-outline-info:hover {
    background: #283772;
    border: 1px solid #283772 !important;
    color: #ffffff;
}

.btn-danger:hover {
    background: #ffffff !important;
    color: #d9534f !important;
    border: 1px solid #d9534f !important;
}

.btn-success:hover {
    background: #ffffff !important;
    color: #5cb85c !important;
    border: 1px solid #5cb85c !important;
}

.btn-warning:hover {
    background: #ffffff !important;
    color: #ffc107 !important;
    border: 1px solid #ffc107 !important;
}

.btn-secondary:hover {
    background: #ffffff !important;
    color: #dddddd !important;
    border: 1px solid #dddddd !important;
}

.input-circle {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: 0 1px 8px 0 #cfcfcf, 0 1px 8px 0 #cfcfcf !important;
    border: none !important;
    outline: 0px !important;
}

.image-error {
    font-size: 12px;
    color: #e2504b;
}

.custom-icon-margin {
    margin-top: -5%;
    margin-bottom: -5%;
}

/* Lines */

.custom-bx {
    margin-bottom: 90px;
}

.login-line {
    width: 120%;
    margin-left: -1.8rem;
}

.lastdaily-line {
    width: 85vh;
    margin-left: -1.9rem;
}

.help-line {
    width: 106%;
    margin-left: -1.9rem;
}

.daily-line {
    width: 106%;
    margin-left: -1.9rem;
}

.daily-line-edit {
    width: 106%;
    margin-left: -1.9rem;
}

.register-line {
    width: 120%;
    margin-left: -1.9rem;
}

.user-edit-line {
    width: 120%;
    margin-left: -1.8rem;
}

.vt-line {
    padding-top: 2px;
    border-left: 8px solid #f1be1d;
    text-indent: 8px;
    color: #283772;
}

/* Menu */



.custom-icon {
    color: #f1be1d;
}

.menu-icon {
    color: #283772;
    font-size: 2rem;
}

.menu-icon:hover,
.menu-icon:active {
    cursor: pointer;
}

.menu-item {
    color: #283772;
}

.navbarDropdown {
    color: #283772;
}

.nav-item dropdown {
    color: #283772;
}

.menu-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 10px;
}

.menu-item:hover,
.menu-item:active {
    color: #f1be1d;
    transition: color 0.3s;
    text-decoration: none;
    cursor: pointer;
}

/* Background */

body {
    background: #0e1e24;
}

.section-login {
    background: #f8f9fa;
}

.section-lastdaily {
    background: #f8f9fa;
}

.section-help {
    background: #f8f9fa;
}

.section-recovery {
    background: #f8f9fa;
}

.section-register {
    background: #f8f9fa;
    padding-bottom: 50px;
}

.centered {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Elements */

.card-size {
    width: 18rem;
    border: none;
    border-radius: none;
    box-shadow: 0 1px 8px 0 #0e1e24, 0 1px 8px 0 #0e1e24 !important;
}

.mt-add-daily {
    margin-top: 36px;
}

.home-app-card {
    transition: transform ease-out 0.2s;
}

.home-app-card:hover {
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* User menu */

.dropdown {
    cursor: pointer !important;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.align-user {
    margin-top: 7px;
    margin-right: -0.45rem;
}

/* Chatbot */

:root {
    --chat-tab-height: 40px;
    --chat-total-height: 66vh;
    --chat-input-height: 148px;

    --chat-closed-width: 300px;
    --chat-open-width: 40vw;
}

#chatbot-area {
    z-index: 999;

    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;

    height: var(--chat-total-height);
    width: var(--chat-closed-width);
    min-width: var(--chat-closed-width);

    transform: translateY(calc(var(--chat-total-height) - var(--chat-tab-height) + 1px));
    transition: transform ease-out 0.2s;

    right: 2rem;
    bottom: 0;

    background-color: var(--light);
}

.word-cut {
    word-break: break-all;
}

.text-help {
    color: #000;
}
.text-help:hover {
    color: #000;
}

.clicker:hover {
    background: #c5c5c5;
}

@media(max-width: 600px) {
    #chatbot-area {
        right: calc(50vw - calc(var(--chat-closed-width) / 2));
    }
}

#chatbot-area.active {
    width: var(--chat-open-width);
    
    transform: translateY(0);
}

#chatbot-tab {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;

    height: var(--chat-tab-height);

    cursor: pointer;
}

#chatbot-tab:hover {
    background-color: #f0f1f2;
}

#chatbot-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100%;
}

#chatbot-history {
    height: calc(var(--chat-total-height) - var(--chat-input-height));

    overflow-y: scroll;
}

#chatbot-history ul {
    padding: 0.5rem;
    margin: 0;

    display: flex;
    flex-direction: column;

    list-style-type: none;
}

/* aka message */
#chatbot-history ul li {
    border-radius: 0.25rem;

    margin: 0.25rem;
    padding: 0.6rem 0.75rem;

    max-width: 85%;

    text-align: justify;

    color: white;
}

#chatbot-history ul li[data-author='user'] {
    align-self: flex-end;

    text-align: end;

    background-color: #dba600;
}

#chatbot-history ul li[data-author='bot'] {
    align-self: flex-start;

    background-color: #283772;
}

#chatbot-history ul li a {
    color: #dba600;

    text-decoration: underline;
}

#chatbot-history ul li a:hover {
    text-decoration: none;
}

#chatbot-history ul li button {
    font-size: .75rem;
}

#chatbot-history ul li button:only-child {
    /* don't know why the offset, it just is */
    width: calc(100% - .5rem);
}

#chatbot-input {
    height: var(--chat-input-height);
}

#chatbot-history ul li .chatbot-options {
    overflow-x: scroll;
}

.msg-status{
    width:100%;
    margin-left: 15px;
    margin-right: 15px;
}

#table-container td, #table-container th{
    word-break: break-word;
}

#chatbot-history ul li .card {
    color: var(--dark);
}

.clock-image {
    width: 70px;
}

.responsive-help-drop {
    display: none;
    color: #c5c5c5;
}

.responsive-add-daily-top {
    display: none;
}

#mobile-add-label {
    display: none;
}

/* Responsive */

/* All pages */
.section { z-index: 1 }

#particles-js {
    z-index: 0;
    position: fixed;
}

.navbar-light {
    z-index: 20;
}

.response-help-mob {
    display: none;
}

.g-recaptcha div iframe{
    transform: scale(1.05);
}
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.header-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.joker-image-st {
    display: block;
}

#nameSpan {
    margin-top: 15px;
}

.joker-image-nd {
    display: none;
}

.user-slot {
    display: inline-flex;
}

.slotter-menu {
    color: #283772;
}

.slotter-menu:hover {
    color: #f1be1d;
}

#drop-hidder {
    display: none;
}

.responsive-help-add {
    margin-top: 16px;
}

.card-description-responsive {
    margin-left: 20px;
}

.user-def-image {
    margin-left: 30px;
    width: 45px;
}

.responsive-user-help {
    margin-left: -1.9rem;
}









/* FIXME */
@media (min-width: 1407px) and (max-width: 1577px) { 
    .resp-add-help-icon {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1406px) {
    .user-def-image {
        margin-left: 20px;
    }

    .card-description-responsive {
        margin-left: 10px;
    }

    .responsive-help-add {
        margin-top: 2px;
    }

    .resp-add-help-icon {
        display: block;
    }

    .page-position {
        margin-top: 70px;
    }

    .add-help-text {
        display: none;
    }

    .help-line {
        width: 122%;
    }

}

@media (max-width: 991px) {
   
    #drop-hidder {
        display: block;
    }

    .joker-image-nd {
        display: block;
        margin-left: -8px;
    }

    .joker-image-st {
        display: none;
    }

    .help-line {
        width: 118%;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .resp-add-help-icon {
        display: block;
    }

    .add-help-text {
        display: none;
    }

    .button-helper {
        padding-left: 15px;
    }

    .responsive-help-add {
        margin-top: 2px;
    }

    .user-def-image {
        margin-left: 20px;
    }

    .card-description-responsive {
        margin-left: 10px;
    }

    .page-position {
        margin-top: 70px;
    }

    .help-line {
        width: 110%;
    }
}

/* Help Center */
@media (width: 576px) {

    .resp-add-help-icon {
        display: block;
    }

    .add-help-text {
        display: none;
        
    }

    .button-helper {
        padding-left: 15px;
    }

    .help-line {
        width: 110%;
    }

    .card-description-responsive {
        margin-left: 45px;
    }

    .user-def-image {
        margin-left: 20px;
    }

    .resp-label-add {
        display: block;
        margin-top: -20px;
    }

    .page-position {
        margin-top: 70px;
    }

    .line-joker {
        margin-bottom: 20px;
    }
    
    .login-line {
        width: 123%;
    }
    
    .response-help-mob {
        display: block;
    }

    .responsive-home-full {
        padding-left: 0;
        padding-right: 0;
    }

    #welcomeResponsive {
        margin-top: 0;
    }

    .daily-line-edit {
        width: 116%;
    }

    .responsive-add-daily-top {
        display: block;
    }
    
    .responsive-add-daily-bottom {
        display: none;
    }

    #mobile-add-label {
        display: block;
    }

    .daily-line { width: 116% }

    .clock-image { 
        width: 60px;
        margin-top: 1%; 
    }

    .responsive-user-help {
        margin-left: -1.9rem;
    }

    .responsive-user-name {
        font-size: 95%;
    }

    .responsive-help-card {
        margin-left: -8%;
        margin-bottom: 4%;
    }

    .responsive-help-add {
        margin-top: 23px;
        margin-bottom: 1%;
    }

    .responsive-section {
        padding-left: 0px;
        padding-right: 0px;
    }

    .responsive-full-help {
        margin-top: -2%;
        margin-bottom: -2%; 
    }

    .responsive-help-buttons {
        display: none;
    }

    
  
    .edit-help-resp:hover, .rmv-help-resp:hover, .res-help-resp:hover {
        background: #c5c5c5;
    }
}

@media (max-width: 575px) {
    .teaster {
        margin-left: 312px;
        margin-top: 10px;
    }

    .responsive-help-drop {
        display: block;
    }

    .page-position {
        margin-top: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .user-def-image {
        margin-left: 25px;
    }

    .card-description-responsive {
        margin-left: 5px;
    }

    .help-line {
        width: 110%;
    }

    #send_answer {
        width: 100%;
    }

    .mobile-operation {
        display: block;
    }

    .desktop-operation {
        display: none;
    }
}

.answer_op {
    margin-top: -15px;
}

/** iphone 5 **/
/* @media (min-width : 320px) and (max-width : 568px) {
    .g-recaptcha div iframe{
        transform: scale(0.83);
    }

    #register-recaptcha div iframe{
        transform: scale(0.89);
        margin-left: -23px;
        margin-top: 17px;
    }
} */

/** iphone 2g/3g/3gs/4s **/
/* @media (min-width : 320px) and (max-width : 480px) {
    .g-recaptcha div iframe{
        transform: scale(0.68);
    }

    #register-recaptcha div iframe{
        transform: scale(0.89);
        margin-left: -23px;
        margin-top: 17px;
    }
} */

/** iphone 6/7/8 **/
/* @media (min-width : 375px) and (max-width : 667px) {
    .g-recaptcha div iframe{
        transform: scale(0.83);
    }

    #register-recaptcha div iframe{
        transform: scale(1.07);
        margin-left: 5px;
        margin-top: 17px;
    }
}  */

/** samsung s3 **/
/* @media (min-width: 360px) and (max-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    .g-recaptcha div iframe{
        transform: scale(0.78);
    }

    #register-recaptcha div iframe{
        transform: scale(1.03);
        margin-left: -3px;
        margin-top: 17px;
    }
} */

/** samsung s4/s5 **/
/* @media (min-width: 360px) and (max-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .g-recaptcha div iframe{
        transform: scale(0.82);
    }

    #register-recaptcha div iframe{
        transform: scale(1.10);
        margin-left: -1px;
        margin-top: 15px;   
    }
} */

/* Somescreens */
/* @media (max-width: 425px) {
    .g-recaptcha div iframe{
        transform: scale(0.4);
    }

    #register-recaptcha div iframe{
        transform: scale(1.25);
        margin-left: 30px;
        margin-top: 15px;   
    }
} */
/* 
@media (max-width: 1217px) {
    .g-recaptcha div iframe{
        transform: scale(0.1);
    }

    #register-recaptcha div iframe{
        transform: scale(0.8);
        margin-left: -38px;
        margin-top: 15px;   
    }

    .add-help-text { */
        /* display: none; */
    /* }
} */

/* @media (min-width: 987px) and (max-width: 1403px) {
    .g-recaptcha div iframe{
        transform: scale(0.1);
    }

    #register-recaptcha div iframe{
        transform: scale(0.8);
        margin-left: -38px;
        margin-top: 15px;   
    }

    .resp-label-add {
        display: none;
    }

    .help-add-margin-align {
        margin-top: 22px;
    }
} */

/* @media (max-width: 1640px) {
    .g-recaptcha div iframe{
        transform: scale(0.82);
    }

    #register-recaptcha div iframe{
        transform: scale(0.89);
        margin-left: -24px;
        margin-top: 15px;   
    }

    .resp-add-help-icon {
        display: none;
    }
} */

/* @media (max-width: 2560px) {
    .g-recaptcha div iframe{
        transform: scale(1.05);
    }

    #register-recaptcha div iframe{
        transform: scale(0.89);
        margin-left: -24px;
        margin-top: 15px;   
    }
} */

/* ::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #c5c5c5;
} */
    
    /*break-words*/

